body{
    .header{
        background-color:#fff;
        height: 280px;
        width: 100vw;
        padding: 1% 4%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // haut du header
        &--haut{
          .blocName{
            display: flex;
            align-items: center;
          &--line{
              width: 15px;
              height: 83px;
              background-color: #ffd100;
              margin-right: 18px;
              margin-top: 8px;
          }
          }
          .skills{
              margin-top: -15px;
              margin-left: 35px;
          }
        }
        // bas du header
        &--bas{
            margin-top: 28px;
            display: flex;
            .menu{
                width: 210px;            
                display: flex;
                justify-content: space-between;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p{
                        display: none;
                    }
                    i{
                        transition: .2s all ease-in-out;
                    }
                }
                :hover i{
                        transform:scale(1.25);
                    }
                :hover p{
                        display: block;
                    }
                &--icone{
                    width: 60px;
                    height: 60px;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: flex-start;
                    
                    .fas{
                        font-size: 42px;
                    }
                    .fa-paper-plane{
                        font-size: 38px
                    }
                }
            }
        }
    }
}

/////////////////////Responsive////////////////////////////////

// GSM //

@media only screen and (max-width: 650px){
// bas du header
body{
    .header{
        height: 260px;//
        &--haut{
          .skills{
              h3{//
                line-height: 7px;
                font-size: 17px;
              }
          }
        }
        // bas du header
        &--bas{
            .menu{
                // display: none;
                background-color: rgba(250, 250, 250, 0.8) ;
                width: 100%;
                height: 100%;
                top: 0;
                left: -100vw;
                flex-direction: column;
                position: fixed;
                align-items: center;
                justify-content: flex-start;
                transition: .5s all ease-in-out;
                z-index: 2;
                a{
                    flex-direction: row;
                    p{
                        display: flex;
                        font-size: 25px;
                        font-weight: 400;
                    }
                }
                &--icone{
                    width: 150px;
                    height: 100px;
                    .fas{
                        font-size: 48px;
                    }
                    .fa-user-circle{
                    }
                    .fa-paper-plane{
                        font-size: 44px;
                    }
                }
                .icone-top{
                    margin-top: 120px;
                }
            }
                .menu.active{ 
                    left: 0;
                }

            .burger-menu{
                position: fixed;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                top: 30px;
                right: 20px;
                border:2px solid #ffd100;
                border-radius: 5px;
                width: 40px;
                height: 40px;
                cursor: pointer;
                transition: .3s all ease-in-out;
                z-index: 3;
                .burger-item{
                    width: 70%;
                    height: 3px;
                    background: rgba(0, 0, 0, 0.8); 
                    border-radius: 15px;
                    align-self: center;
                    transition: .3s all ease-in-out;
                }
            }
                .burger-menu.active{
                    border-color: #ffd100;
                    transform: rotate(180deg);
                .burger-menu.active .un{
                    width: 30%;
                }
            
                .burger-menu.active .deux{
                    width: 60%;
                }
            
                .burger-menu.active .trois{
                    width: 15%;
                }
            }
        }
    }
}
}

// Tablette //

@media only screen and (max-width: 1200px){

}
